html,
body,
div,
span,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1.5; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  cursor: pointer; }

main {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: calc(100vh - 42px - 45px - 250px); }

button:focus {
  outline: unset !important; }

input[type=checkbox] {
  transform: scale(2);
  margin-top: 0.5rem; }

@media (min-width: 345px) {
  main {
    min-height: calc(100vh - 42px - 45px - 226px); } }
@media (min-width: 353px) {
  main {
    min-height: calc(100vh - 42px - 45px - 202px); } }
@media (min-width: 389px) {
  main {
    min-height: calc(100vh - 25px - 45px - 202px); } }
@media (min-width: 463px) {
  main {
    min-height: calc(100vh - 25px - 45px - 178px); } }
@media (min-width: 600px) {
  main {
    min-height: calc(100vh - 28px - 66px - 199px); } }
@media (min-width: 900px) {
  main {
    min-height: calc(100vh - 30px - 68px - 220px); } }
@media (min-width: 1024px) {
  main {
    min-height: calc(100vh - 34px - 69px - 241px); } }
/*fonts*/
@font-face {
  font-family: 'Patrick Hand SC', cursive;
  src: uri("../fonts/PatrickHandSC-Regular.ttf"); }
body,
h1,
h2,
h3,
h4,
p,
span,
li,
i,
a,
label,
button,
input,
th,
td {
  font-style: normal;
  font-family: 'Patrick Hand SC', cursive;
  color: #303030; }

p,
a,
span,
h1,
h2,
h3:hover {
  cursor: default; }

p,
a,
span,
li,
i,
label,
button {
  font-size: 1rem; }

h4 {
  font-size: 1rem; }

h3 {
  font-size: 1.2rem; }

h2 {
  font-size: 1.5rem; }

h1 {
  font-size: 2rem; }

html {
  font-size: 16px; }

@media screen and (min-width: 600px) {
  html {
    font-size: 18px; } }
@media screen and (min-width: 900px) {
  html {
    font-size: 20px; } }
@media screen and (min-width: 1024px) {
  html {
    font-size: 22px; } }
.bg-color--primary {
  background-color: #353535; }

.bg-color--secondary {
  background-color: #EAEAEA; }

.font-color--primary {
  color: #2F2F2F; }

.font-color--secondary {
  color: #523522; }

.link-color {
  color: #523522; }

.white-link {
  color: white; }

.dark-link {
  color: #523522; }

.box-shadow--primary {
  box-shadow: 0px 1.5px 0px 0px rgba(13, 202, 93, 0.68); }

.section--home {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 450px;
  background: url("../img/Background23.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  margin-bottom: 10px;
  margin-top: -45px; }

.home-div--border {
  border: 7px double #303030; }

.div--home__img--logo {
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: block; }

.section__div--home {
  padding: 10px;
  position: absolute;
  top: 15%;
  background-color: rgba(255, 255, 255, 0.5);
  width: 58%;
  margin-top: 10px; }

.section--home__img {
  position: relative; }

.section__div--home p {
  text-align: center;
  padding-bottom: 10px; }

.div--home__h2--title {
  text-align: center;
  font-weight: bold; }

@media screen and (min-width: 400px) {
  .section--home {
    min-height: 500px; } }
@media screen and (min-width: 530px) {
  .section__div--home {
    width: 48%; } }
@media screen and (min-width: 600px) {
  .section__div--home {
    width: 39%; }

  .section--home {
    margin-top: -69px; } }
@media screen and (min-width: 768px) {
  .section__div--home {
    width: 33%; } }
@media screen and (min-width: 850px) {
  .section__div--home {
    width: 27%; } }
@media screen and (min-width: 980px) {
  .section--home {
    min-height: 480px; }

  .section__div--home {
    width: 26%; } }
@media screen and (min-width: 1024px) {
  .section--home {
    min-height: 550px; }

  .section__div--home {
    width: 25%; } }
@media screen and (min-width: 1200px) {
  .section--home {
    min-height: 650px; } }
@media screen and (min-width: 1400px) {
  .section--home {
    min-height: 700px; } }
.section--products {
  padding: 10px; }

.section-carousel {
  margin: 10px 0px; }

.main__section--welcome {
  text-align: center;
  padding-bottom: 15px; }

.div--product-line-single {
  margin: 10px 0px; }

.div__img--product-line-single {
  width: 100%;
  border-radius: 20px 0px 20px 20px; }

.div__p--product-line-name {
  font-weight: bold;
  text-align: center; }

.div__p--product-line-desc {
  text-align: justify; }

.single-product {
  margin: 10px;
  text-align: right;
  background-color: #fafafa;
  border-radius: 20px 20px 0 20px;
  border: 1px solid #e0e0e0; }

.single-product img {
  padding: 15px; }

.single-product p {
  text-align: center;
  padding: 0 5px; }

.single-product-name {
  height: 3em;
  font-weight: bold; }

.single-product-price {
  margin-bottom: 10px; }

.single-product a {
  background-color: #353535;
  color: white !important;
  padding: 3px 10px;
  border-radius: 15px 0 0 0;
  -webkit-box-shadow: -1px -1px 10px 0px #d3d3d3;
  -moz-box-shadow: -1px -1px 10px 0px #d3d3d3;
  box-shadow: -1px -1px 10px 0px #d3d3d3; }

.div-link-allproducts {
  text-align: right;
  margin: 15px 0px; }

.div-link-allproducts a {
  padding: 5px 15px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  background-color: #353535;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px; }

.div-link-allproducts a:hover {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold; }

@media (min-width: 768px) {
  .div--product-line-single--reverse {
    flex-direction: row-reverse !important; }

  .div--product-line-single--reverse .col-5 img {
    border-radius: 0px 20px 20px 20px; } }
.section--about-us {
  padding: 10px;
  background-color: #eadad2;
  border-radius: 20px;
  margin: 0px 5px; }

.section--about-us__h2 {
  text-align: center;
  padding-bottom: 15px; }

.section--about-us__p {
  text-align: justify; }

.section--about-us__div--points {
  margin: 15px 0px; }

.div--about-us-point {
  flex-direction: column; }

.div--about-us-point__img {
  width: 100%;
  max-width: 180px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid gray; }

.div--about-us-point__p {
  text-align: center;
  font-size: 1.2em;
  padding: 5px;
  margin-bottom: 15px; }

.section--contact {
  margin: 10px; }

.section--contact__h2 {
  text-align: center; }

.div--contact-desc {
  width: 100%;
  margin-top: 15px; }

.div--contact-desc__ul__li {
  display: flex;
  align-items: center; }

.div--contact-desc__ul__li i {
  padding: 10px; }

.div--contact-desc--left .div--contact-desc__ul__li {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse; }

.div--contact-desc__ul__li img {
  padding: 10px;
  max-width: 40px; }

@media screen and (min-width: 576px) {
  .div--contact-desc__ul__li {
    display: flex;
    align-items: center;
    min-height: 2.5em; }

  .div--contact-desc--left {
    display: flex;
    flex-direction: column;
    border-right: 6px solid #523522;
    border-style: dotted; }

  .div--contact-desc--left .div--contact-desc__ul__li {
    flex-direction: unset; } }
.info-message {
  color: white;
  font-weight: bold;
  padding: 15px;
  background-color: #007bff;
  text-align: center;
  max-width: 300px;
  margin: auto; }

header {
  background-image: url("../img/Background169.png");
  background-size: cover; }

.header-section {
  width: 100%;
  line-height: 1rem; }

.header-language {
  text-align: end; }

.header-language a {
  font-weight: bold; }

@media (max-width: 600px) {
  .header-contact-div i {
    display: none; } }
.navbar {
  z-index: 2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3)); }

.navigation-home {
  background-color: transparent !important; }

.navigation-logo {
  vertical-align: middle;
  max-width: 35px; }

.navbar-collapse ul li a {
  color: #2F2F2F !important;
  font-size: 1.2rem; }

.navbar-nav .dropdown-menu {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3)); }

.dropdown-menu {
  left: unset !important;
  right: 0px; }

.dropdown-item:active {
  background-color: #2F2F2F;
  color: white !important; }

@media (min-width: 600px) {
  .navigation-logo {
    max-width: 55px; } }
.main__section {
  max-width: 992px;
  padding: 15px;
  margin: 0 10px; }

@media (min-width: 1012px) {
  .main__section {
    margin: auto; } }
.section__h2 {
  font-weight: bold;
  font-size: 2rem;
  padding: 15px; }

.all-products__div--title {
  background-color: #353535;
  border-radius: 10px;
  margin: 25px 10px 5px 10px; }

.all-products__div--title h1 {
  color: white;
  padding: 0px 15px; }

.all-products__div--product {
  margin: 10px;
  text-align: right;
  background-color: #fafafa;
  border-radius: 20px 20px 0 20px;
  border: 1px solid #e0e0e0; }

.all-products__div--product a img {
  width: 100%;
  padding: 15px; }

.all-products__div--product-name {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem; }

.all-products__div--product-price {
  padding-bottom: 15px;
  text-align: center; }

.all-products__div--product-cart {
  background-color: #353535;
  color: white;
  padding: 3px 10px;
  border-radius: 15px 0 0 0;
  -webkit-box-shadow: -1px -1px 10px 0px #d3d3d3;
  -moz-box-shadow: -1px -1px 10px 0px #d3d3d3;
  box-shadow: -1px -1px 10px 0px #d3d3d3; }

.all-products__div--product-cart:hover {
  color: whitesmoke;
  font-weight: bold; }

.main__div--all-products {
  max-width: 992px;
  margin: auto; }

.main--single-product {
  padding: 15px; }

.section--single-product {
  margin: auto;
  max-width: 1000px; }

.section__div--product {
  margin: 10px;
  text-align: right;
  background-color: #fafafa;
  border-radius: 20px 20px 0 20px;
  border: 1px solid #e0e0e0;
  padding: 0px; }

.section__div--product h2 {
  padding: 10px;
  text-align: center;
  font-weight: bold; }

.section__div--product img {
  width: 100%;
  padding: 15px; }

.section__div--desc p {
  padding: 15px; }

.div__p--cart {
  background-color: #353535;
  color: white;
  padding: 3px 10px;
  border-radius: 15px 0 0 0;
  margin-top: 5px;
  -webkit-box-shadow: -1px -1px 10px 0px #d3d3d3;
  -moz-box-shadow: -1px -1px 10px 0px #d3d3d3;
  box-shadow: -1px -1px 10px 0px #d3d3d3; }

.div__p--cart:hover {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none; }

#price-total {
  font-size: 1.5rem; }

.error-feedback {
  color: red;
  font-size: 0.8rem; }

footer .row {
  max-width: 992px;
  margin: 0 auto; }

.footer__div a {
  color: white; }

.footer__div a:first-child {
  font-weight: bold;
  padding-top: 10px; }

.footer__div--copyright p,
.footer__div--copyright span {
  color: lightgray; }

.footer__div--contact {
  text-align: right; }

/*# sourceMappingURL=index.css.map */
