/*fonts*/
@font-face {
    font-family: 'Wellfleet';
    src: url('/fonts/Wellfleet-Regular.ttf')
}

@font-face {
    font-family: 'Crete-Round';
    src: url('/fonts/CreteRound-Regular.ttf')
}

@font-face {
    font-family: 'SignikaNegative';
    src: uri('/fonts/SignikaNegative-Bold.ttf')
}

h1, h2, h3, h4, p, span, li, i, a, label, button {
    font-style: normal;
    font-family: 'Wellfleet'!important;
    color: #4e4e4e
}

p, a, span, h1, h2, h3:hover {
    cursor: default;
}

/* main {
    background-image: url('../img/504046100.jpg')
} */
/*helpers*/

.margin-0 {
    margin: 0px!important;
}

.padding-0 {
    padding: 0px!important;
}

.on-hover:hover {
    cursor: pointer!important;
    text-decoration: underline!important;
}

/*font sizes*/
.nav-link {
    font-size: 26px;
}

.navbar-wrp {
    padding: 0 1rem!important;
}

@media (max-width: 1400px) {
    .main-text {
        max-width: 507px!important;
        margin-top: 16%!important;
    }

    .logo-img {
        width: 280px!important;
    }
}

@media (max-width: 1200px) {
    .main-text {
        margin-top: 23%!important;
    }

    .logo-img {
        width: 280px!important;
    }
}

@media (max-width: 768px) {
    .nav-link {
        font-size: 22px;
    }

    .logo-img {
        width: 210px!important;
    }

    .logo {
        width: 75px!important;
    }

    .header {
        height: 95px!important;
    }

    #section1 {
        padding-top: 96px!important;
        margin-top: -124px!important;
    }
    
    #section2 {
        padding-top: 96px!important;
    }

    #section3 {
        padding-top: 96px!important;
    }

    #section4 {
        padding-top: 96px!important;
    }

    .welcome {
        font-size: 30px!important;
    }

    .product-line-name {
        font-size: 24px!important;
    }

    .product-line-desc {
        font-size: 22px!important;
    }

    .about-us-title {
        font-size: 30px!important;
    }

    .about-us-desc {
        font-size: 25px!important;
    }

    .about-us-point p {
        font-size: 26px!important;
    }

    .contact-title {
        font-size: 30px!important;
    }

    .contact-info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .contact-info ul li img {
        width: 36px!important;
        height: 36px!important;
    }

    .footer div a {
        font-size: 18px!important;
    }

    .contact-info ul li {
        padding: 0px!important;
    }
}

@media (max-width: 576px) {
    .main-text {
        margin-top: 26%!important;
    }

    .nav-link {
        font-size: 20px!important;
    }

    .title {
        font-size: 22px!important;
    }

    .subtitle {
        font-size: 14px!important;
    }

    .logo-img {
        width: 170px!important;
    }

    .contact-header p {
        font-size: 14px!important;
    }

    .contact-info ul li a {
        font-size: 16px!important;
    }

    .contact-info ul li p {
        font-size: 16px!important;
    }

    .footer {
        padding-left: 0px!important;
    }

    .welcome {
        font-size: 28px!important;
    }

    .product-line-name {
        font-size: 22px!important;
    }

    .product-line-desc {
        font-size: 20px!important;
    }

    .about-us-title {
        font-size: 28px!important;
    }

    .about-us-desc {
        font-size: 22px!important;
    }

    .about-us-point p {
        font-size: 24px!important;
    }

    .contact-title {
        font-size: 28px!important;
    }

    .contact-info ul li img {
        width: 36px!important;
        height: 36px!important;
    }

    /* .product-line-single i:hover {
        cursor: pointer;
        opacity: 0.8;
    } */

    .product-line-single img {
        margin-top: 12px!important;
    }

    .footer div a {
        font-size: 16px!important;
    }
}

@media (max-width: 535px) {
    .title {
        font-size: 20px!important;
        margin-bottom: 5px;
    }

    .subtitle {
        font-size: 12px!important;
    }

    .contact-header p {
        font-size: 12px!important;
    }

    .welcome {
        font-size: 26px!important;
    }

    .product-line-name {
        font-size: 20px!important;
    }

    .product-line-desc {
        font-size: 18px!important;
    }

    .about-us-title {
        font-size: 26px!important;
    }

    .about-us-desc {
        font-size: 20px!important;
    }

    .about-us-point p {
        font-size: 22px!important;
    }

    .contact-title {
        font-size: 26px!important;
    }

    .contact-info ul li img {
        width: 32px!important;
        height: 32px!important;
    }
}

@media (max-width: 470px) {
    .title {
        font-size: 18px!important;
        margin-bottom: 4px;
    }

    .copyright p {
        font-size: 14px!important;
    }

    .main-text {
        margin-top: 31%!important;
    }

    .subtitle {
        font-size: 11px!important;
    }

    .logo-img {
        width: 125px!important;
    }

    .contact-header p {
        font-size: 10px!important;
    }

    .welcome {
        font-size: 24px!important;
    }

    .product-line-name {
        font-size: 18px!important;
    }

    .product-line-desc {
        font-size: 16px!important;
    }

    .about-us-title {
        font-size: 24px!important;
    }

    .about-us-desc {
        font-size: 20px!important;
    }

    .about-us-point p {
        font-size: 22px!important;
    }

    .contact-title {
        font-size: 24px!important;
    }

    .contact-info ul li img {
        width: 32px!important;
        height: 32px!important;
    }

    .icon {
        display: none;
    }
}

@media (max-width: 420px) {
    .welcome {
        font-size: 22px!important;
    }

    .main-text {
        margin-top: 34%!important;
    }

    .product-line-name {
        font-size: 16px!important;
    }

    .product-line-desc {
        font-size: 14px!important;
    }

    .about-us-title {
        font-size: 22px!important;
    }

    .about-us-desc {
        font-size: 18px!important;
    }

    .about-us-point p {
        font-size: 20px!important;
    }

    .contact-title {
        font-size: 22px!important;
    }

    .contact-info ul li img {
        width: 30px!important;
        height: 30px!important;
    }

    .cart-link {
        width: 155px!important;
    }
}

@media (max-width: 385px) {
    .subtitle {
        margin-bottom: 5px!important;
    }

    .logo-img {
        padding-bottom: 5px!important;
    }

    .main-text {
        margin-top: 37%!important;
    }

    .welcome {
        font-size: 20px!important;
    }

    .product-line-name {
        font-size: 14px!important;
    }

    .product-line-desc {
        font-size: 12px!important;
    }

    .about-us-title {
        font-size: 20px!important;
    }

    .about-us-desc {
        font-size: 16px!important;
    }

    .about-us-point p {
        font-size: 18px!important;
    }

    .contact-title {
        font-size: 20px!important;
    }

    .contact-info ul li img {
        width: 24px!important;
        height: 24px!important;
    }

    .cart-link {
        width: 145px!important;
    }

    .footer div a {
        font-size: 14px!important;
    }
}

@media (max-width: 360px) {
    .title {
        font-size: 16px!important
    }

    .subtitle {
        font-size: 9px!important;
    }

    .main-text {
        padding: 5px!important;
        margin-top: 41%!important;
    }

    .footer div a {
        font-size: 12px!important;
    }
}


/*styles*/

.icon {
    width: 15px;
    margin: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

body {
    padding-top: 125px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100vw;
}

.contact-languages {
    background-color: #0dca5d;
    
    padding-left: 17px
}

.contact-languages span {
    color: white!important;
}

.contact-languages i {
    color: white!important;
}

.header {
    height: 120px;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    -webkit-box-shadow: 0px 1.5px 7px -1px rgba(13, 202, 93,0.68);
    -moz-box-shadow: 0px 1.5px 7px -1px rgba(13, 202, 93,0.68);
    box-shadow: 0px 1.5px 7px -1px rgba(13, 202, 93,0.68);
    z-index: 5;
}

#section1 {
    padding-top: 130px;
    margin-top: -130px;
}

#section2 {
    padding-top: 130px;
}

.logo {
    width: 110px;
    cursor: pointer;
}

.languages div a{
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    border-bottom: 2px solid #0dca5d;
    font-style: normal;
}

.languages div {
    display: flex;
    align-self: flex-end;
}

.languages div a:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
    opacity: 0.7;
}

.languages {
    display: flex;
    justify-content: flex-end;
}

.contact-header {
    display: flex;
    align-items: flex-start
}



.navigation {
    background-color: white!important;
    border-bottom-width: 3px;
    border-color: #0dca5d;
}

.navigation nav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2px
}

.navigation nav i {
    font-style: normal;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-right: 15px
}

.navigation nav i:hover {
    color: #0dca5d!important;
    cursor: pointer;
    opacity: 0.7;
}

nav {
    align-self: flex-end
}

.cart-link {
    height: 36px;
    width: 36px;
}

.contact-header p{
    margin-bottom: 0px;
}

.background-image {
    width: 100vw;
    margin-left: -20px;
    margin-right: -20px;
    height: auto;
    position: relative;
}


.main-text {
    width: 50vw;
    max-width: 550px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    text-align: center;
    margin: auto;
    margin-top: 21%;
    margin-left: auto
}

.with-height {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0
}

.home-border {
    width: 100%;
    height: 100%;
    border: 2px double black;
}

.title {
    font-size: 26px;
    font-weight: bold;
}

.logo-img {
    padding: 15px;
}

.welcome {
    font-size: 2,3em;
    text-align: center;
    color: #0dca5d!important;
    font-weight: bold;
    padding-bottom: 20px;
}

.product-line {
    padding-bottom: 30px
}

.product-line-single {
    height: 100%;
    width: 100%;
}

@media(max-width: 768px){
.product-line-single div {
    margin: 0px;
}

}
.product-line-single img {
    height: 100%;
    width: 100%;
    padding: 5px;
}

.product-line-single div {
    width: 100%;
    padding: 10px;
}

.product-line-name {
    width: 100%;
    -webkit-box-shadow: 0px 1.5px 0px 0px rgba(13, 202, 93,0.68);
    -moz-box-shadow: 0px 1.5px 0px 0px rgba(13, 202, 93,0.68);
    box-shadow: 0px 1.5px 0px 0px rgba(13, 202, 93,0.68);
    padding-left: 10px;
    font-size: 1.5em;
}

.product-line-desc {
    padding-left: 10px;
    font-size: 1.2em
}

.product-scroll {
    display: flex;
    align-content: center;
    flex-direction: row;
    overflow-x: scroll;
}

.single-product{
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}

.single-product img{
    width: 170px;
}

.single-product-name {
    text-align: center;
    font-size: 1em;
    text-transform: capitalize;
    font-weight: bold;
    padding-top: 15px;
    height: 77px
}

.single-product-price {
    font-size: 1em;
    text-align: center;
}

.cart-link {
    width: 170px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    color: white!important;
    background-color: #0dca5d;
}

.about-us {
    width: 100%;
    padding-top: 130px;
    background-color: #edfff4;
}

.about-us-title {
    font-size: 2,3em;
    text-align: center;
    color: #0dca5d!important;
    font-weight: bold;
    align-self: center; 
}

.about-us-desc {
    width: 90vw;
    margin: auto
}

.about-us-desc {
    font-size: 1.3em;   
    text-align: justify;
    padding: 15px;    
}

.points {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 20px
}

.about-us-point img {
    padding: 25px;
    border-radius: 50%;
    border: 2px solid black;
}

@media(max-width: 768px){
    .about-us-point img {
    padding: 10px;
}
}

@media(max-width: 768px){
    .about-us-point img {
    padding: 20px;
    }
    .points {
        flex-direction: column;
    }
}

.about-us-point p {
    text-align: center;
    color: #0dca5d!important;
    padding: 15px;
    font-weight: bold;
    font-size: 1.3em
}

#section4 {
    padding-top: 130px;
}

.google-map-div {
    min-height: 400px;
}

.contact-desc {
    width: 90vw;
    margin: auto
}

.contact-info ul {
    padding-left: 0px;
}

.contact-info ul li {
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    justify-content: center
}

.contact-info ul li img{
    width: 40px;
    height: 40px;
    margin: 15px;
}

.contact-info ul li a{
    font-size: 1.3em;
    align-items: center;
    color: black;
}

.contact-info ul li a:hover{
    cursor: pointer;
    opacity: 0.7;
    color: #0dca5d!important;
    font-style: normal;
}

.contact-info ul li p{
    font-size: 1.3em;
    align-items: center;
}

.contact-title {
    font-size: 2,3em;
    text-align: center;
    color: #0dca5d!important;
    font-weight: bold;
    padding-bottom: 15px;
}

.footer {
    width: 100vw;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #0dca5d;
    padding: 15px;
    padding-left: 0px;
    margin-top: 30px;
    color: white!important;
    justify-content: space-around;
}

.footer div {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.footer div:first-child {
    padding-left: 20px;
}

.footer div a {
    padding-left: 15px;
    font-style: normal;
    font-size: 20px;
    color: white!important
}

.footer div a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.footer div a:first-child{
    padding: 0px;
    font-weight: bold;
    padding-bottom: 5px;
    text-decoration: none;
    cursor: default;
}

.footer div a:first-child:hover{
    text-decoration: none;
    cursor: default;
}

.copyright {
    padding-top: 10px;
    border-top: 1px solid #4e4e4e;
    margin-top: 10px;
}

.copyright p {
    margin: 0;
}

.copyright p span {
    font-weight: bold;
}

/*owl indicators*/

.owl-dot span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #0dca5d;
}
.owl-dot span active{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #0dca5d;
    border: 2px solid #0dca5d;
}

.cart-link:hover {
    opacity: 0.8;
    text-decoration: none
}

.dropdown-menu {
    left: auto!important;
    right: 0;
}


/*dilivery info*/


.dilivery_info_first_paragraph {
    
}

/* oreder page */

.order-main-div {
    max-width: 900px;
    margin: 0px auto
}

.order-main-div h1{
    text-align: center;
}

.submit-btn-order {
    width: 100%;
    display: flex;
    justify-content: flex-end
}

.submit-btn-order button{
    width: 150px
}

/* my cart */
.cart-main-contaier {
    margin: 0px auto;
    max-width: 1000px;
}

.cart-main-contaier h1 {
    text-align: center
}

.cart-quantity div input{
    max-width: 70px;
}

.total-text {
    width: 100%;
}

.total-text p{
    text-align: right;
    font-size: 1.5rem
}

.total-text p span {
    font-weight: bold;
}