.single-product-img img {
    width: 100%;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%
}

.single-product-shop {
    padding-top: 5%; 
}

.single-product-shop p {
    padding-right: 10%;
    font-size: 20px;
    margin-bottom: 10%
}

.single-product-text {
    padding-top: 10%; 
}

.single-product-shop h1 {
    font-size: 18px;
    font-weight: bold;
    color: #0dca5d;
    text-align: center;
}

.single-product-shop p a {
    padding: 10px;
    font-size: 18px;
    background-color: #0dca5d;
    color: white;
    font-weight: bold;
    text-align: right;
}

.ingredients span {
    font-weight: bold;
}

.single-product-shop a:hover {
    color: white
}

@media(min-width: 400px) {
    .single-product-shop h1 {
        font-size: 22px;
    }  
    
    .single-product-text p {
        font-size: 18px;
    }
}

@media(min-width: 500px) {
    .single-product-shop h1 {
        font-size: 26px;
    }  
    
    .single-product-text p {
        font-size: 22px;
    }
}

@media(min-width: 600px) {
    .single-product-shop h1 {
        font-size: 30px;
    }  
    
    .single-product-text p {
        font-size: 26px;
    }
}

@media(min-width: 768px) {
    .single-product-shop h1 {
        font-size: 24px;
    }  
    
    .single-product-text p {
        font-size: 18px;
    }

    .single-product-shop p {
        margin-bottom: 0px;
        margin-top: 7%;
    }
}

@media(min-width: 992px) {
    .single-product-shop h1 {
        font-size: 28px;
    }  
    
    .single-product-text p {
        font-size: 20px;
    }

    .single-product-shop p {
        margin-top: 6%;
    }
}

@media(min-width: 1200px) {
    .single-product-shop h1 {
        font-size: 30px;
    }  
    
    .single-product-text p {
        font-size: 22px;
    }
}