.goto-product:hover {
    cursor: pointer;
    opacity: 0.8;
}

#soap-line {
    margin-top: -100px;
    margin-bottom: -100px;
    padding-top: 100px;
}

.all-products-title {
    margin: 45px;
    margin-bottom: 0;
    padding-bottom: 40px;
}

.all-products-title h1{
    margin: 0;
    color: white;
    background-color: #0dca5d; 
    font-weight: bold;
    padding-left: 15px;
    -webkit-box-shadow: 0px 1.5px 0px 0px rgba(13, 202, 93,0.68);
    -moz-box-shadow: 0px 1.5px 0px 0px rgba(13, 202, 93,0.68);
    box-shadow: 0px 1.5px 0px 0px rgba(13, 202, 93,0.68);
}

.all-products-list .single-product{
    margin-bottom: 80px;
}

.all-products-list .single-product .single-product-name {
    height: 30px!important;
}

.all-products-list .single-product img {
    width: 285px;
}

.all-products-list .cart-link {
    margin: 0!important;
}

@media(max-width: 630px) {
    .all-products-title {
        margin: 20px!important;
    }
}

@media(max-width: 480px) {
    .all-products-list .single-product img {
        width: 235px;
    }  

    .all-products-title h1{
        font-size: 2em!important;
    }
}

@media(max-width: 400px) {
    .all-products-list .single-product img {
        width: 195px;
    }  

    .all-products-title h1{
        font-size: 1.7em!important;
    }
}

#hair-line {
    margin-bottom: -100px;
    padding-top: 100px;
}

#moustache-line {
    margin-bottom: -100px;
    padding-top: 100px;
}

#beard-line {
    margin-bottom: -100px;
    padding-top: 100px;
}