footer .row {
    max-width: 992px;
    margin: 0 auto;
}

.footer__div a {
    color: white;
}

.footer__div a:first-child {
    font-weight: bold;
    padding-top: 10px;
}

.footer__div--copyright p,
.footer__div--copyright span {
    color: lightgray
}

.footer__div--contact {
    text-align: right;
}