header {
    background-image: url('../img/Background169.png');
    background-size: cover;
}

.header-section {
    width: 100%;
    line-height: 1rem;
}

.header-language {
    text-align: end
}

.header-language a {
    font-weight: bold;
}

@media(max-width: 600px) {
    .header-contact-div i {
        display: none;
    }
}