.navbar {
    z-index: 2;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
}

.navigation-home {
    background-color: transparent !important
}

.navigation-logo {
    vertical-align: middle;
    max-width: 35px;
}

.navbar-collapse ul li a {
    color: #2F2F2F !important;
    font-size: 1.2rem;
}

.navbar-nav .dropdown-menu {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
}

.dropdown-menu {
    left: unset !important;
    right: 0px;
}

.dropdown-item:active {
    background-color: #2F2F2F;
    color: white !important;
}

// @media(max-width: 600px) {
//     .navigation-logo {
//         max-width: 80px;
//     }
// }
@media(min-width: 600px) {
    .navigation-logo {
        max-width: 55px;
    }
}