.all-products__div--title {
    background-color: #353535;
    border-radius: 10px;
    margin: 25px 10px 5px 10px;
}

.all-products__div--title h1 {
    color: white;
    padding: 0px 15px;
}

.all-products__div--list {}

.all-products__div--product {
    margin: 10px;
    text-align: right;
    background-color: #fafafa;
    border-radius: 20px 20px 0 20px;
    border: 1px solid #e0e0e0;
}

.all-products__div--product a img {
    width: 100%;
    padding: 15px;
}

.all-products__div--product-name {
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.all-products__div--product-price {
    padding-bottom: 15px;
    text-align: center;
}

.all-products__div--product-cart {
    background-color: #353535;
    color: white;
    padding: 3px 10px;
    border-radius: 15px 0 0 0;
    -webkit-box-shadow: -1px -1px 10px 0px #d3d3d3;
    -moz-box-shadow: -1px -1px 10px 0px #d3d3d3;
    box-shadow: -1px -1px 10px 0px #d3d3d3;
}

.all-products__div--product-cart:hover {
    color: whitesmoke;
    font-weight: bold;
}