.main--single-product {
    padding: 15px
}

.section--single-product {
    margin: auto;
    max-width: 1000px;
}

.section__div--product {
    margin: 10px;
    text-align: right;
    background-color: #fafafa;
    border-radius: 20px 20px 0 20px;
    border: 1px solid #e0e0e0;
    padding: 0px;
}

.section__div--product h2 {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.section__div--product img {
    width: 100%;
    padding: 15px
}

.section__div--desc p {
    padding: 15px
}

.div__p--cart {
    background-color: #353535;
    color: white;
    padding: 3px 10px;
    border-radius: 15px 0 0 0;
    margin-top: 5px;
    -webkit-box-shadow: -1px -1px 10px 0px #d3d3d3;
    -moz-box-shadow: -1px -1px 10px 0px #d3d3d3;
    box-shadow: -1px -1px 10px 0px #d3d3d3;
}

.div__p--cart:hover {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}