.bg-color--primary {
    background-color: #353535;
}

.bg-color--secondary {
    background-color: #EAEAEA;
}

.font-color--primary {
    color: #2F2F2F;
}

.font-color--secondary {
    color: #523522;
}

.link-color {
    color: #523522
}

.white-link {
    color: white;
}

.dark-link {
    color: #523522
}

.box-shadow--primary {
    box-shadow: 0px 1.5px 0px 0px rgba(13, 202, 93, 0.68);
}