/*fonts*/

// @font-face {
//     font-family: 'Wellfleet';
//     src: url('../fonts/Wellfleet-Regular.ttf')
// }
// @font-face {
//     font-family: 'Crete-Round';
//     src: url('../fonts/CreteRound-Regular.ttf')
// }
// @font-face {
//     font-family: 'SignikaNegative';
//     src: uri('../fonts/SignikaNegative-Bold.ttf')
// }
// @font-face {
//     font-family: 'Roboto';
//     src: uri('../fonts/Roboto-medium.ttf')
// }
@font-face {
    font-family: 'Patrick Hand SC', cursive;
    src: uri('../fonts/PatrickHandSC-Regular.ttf')
}

body,
h1,
h2,
h3,
h4,
p,
span,
li,
i,
a,
label,
button,
input,
th,
td {
    font-style: normal; // font-family: 'Wellfleet';
    font-family: 'Patrick Hand SC', cursive;
    color: #303030
}

p,
a,
span,
h1,
h2,
h3:hover {
    cursor: default;
}

p,
a,
span,
li,
i,
label,
button {
    font-size: 1rem;
}

h4 {
    font-size: 1rem;
}

h3 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.5rem;
}

h1 {
    font-size: 2rem;
}

html {
    font-size: 16px;
}

@media screen and (min-width: 600px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 900px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 22px;
    }
}