html,
body,
div,
span,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
    {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;
}

blockquote,
q {
    quotes: none;
}

blockquote {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

q {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:hover {
    cursor: pointer;
}

main {
    max-width: 100vw;
    overflow-x: hidden;
    min-height: calc(100vh - 42px - 45px - 250px);
}

button:focus {
    outline: unset !important;
}

input[type=checkbox] {
    transform: scale(2);
    margin-top: 0.5rem;
}

@media(min-width: 345px) {
    main {
        min-height: calc(100vh - 42px - 45px - 226px);
    }
}

@media(min-width: 353px) {
    main {
        min-height: calc(100vh - 42px - 45px - 202px);
    }
}

@media(min-width: 389px) {
    main {
        min-height: calc(100vh - 25px - 45px - 202px);
    }
}

@media(min-width: 463px) {
    main {
        min-height: calc(100vh - 25px - 45px - 178px);
    }
}

@media(min-width: 600px) {
    main {
        min-height: calc(100vh - 28px - 66px - 199px);
    }
}

@media(min-width: 900px) {
    main {
        min-height: calc(100vh - 30px - 68px - 220px);
    }
}

@media(min-width: 1024px) {
    main {
        min-height: calc(100vh - 34px - 69px - 241px);
    }
}