.section--about-us {
    padding: 10px;
    background-color: #eadad2;
    border-radius: 20px;
    margin: 0px 5px;
}

.section--about-us__h2 {
    text-align: center;
    padding-bottom: 15px;
}

.section--about-us__p {
    text-align: justify;
}

.section--about-us__div--points {
    margin: 15px 0px;
}

.div--about-us-point {
    flex-direction: column;
}

.div--about-us-point__img {
    width: 100%;
    max-width: 180px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid gray;
}

.div--about-us-point__p {
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    margin-bottom: 15px
}