.section--contact {
    margin: 10px;
}

.section--contact__h2 {
    text-align: center;
}

.div--contact-desc {
    width: 100%;
    margin-top: 15px;
}

.div--contact-desc__ul {}

.div--contact-desc__ul__li {
    display: flex;
    align-items: center;
}

.div--contact-desc__ul__li i {
    padding: 10px;
}

.div--contact-desc--left .div--contact-desc__ul__li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.div--contact-desc__ul__li img {
    padding: 10px;
    max-width: 40px;
}

@media screen and (min-width:576px) {
    .div--contact-desc__ul__li {
        display: flex;
        align-items: center;
        min-height: 2.5em;
    }
    .div--contact-desc--left {
        display: flex;
        flex-direction: column;
        border-right: 6px solid #523522;
        border-style: dotted;
    }
    .div--contact-desc--left .div--contact-desc__ul__li {
        flex-direction: unset;
    }
}