//section 1
.section--home {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 450px;
    background: url('../img/Background23.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    margin-bottom: 10px;
    margin-top: -45px;
}

.section--home__img {}

.home-div--border {
    border: 7px double #303030;
}

.div--home__img--logo {
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: block;
}

.section__div--home {
    padding: 10px;
    position: absolute;
    top: 15%;
    background-color: rgba(255, 255, 255, 0.5);
    width: 58%;
    margin-top: 10px;
}

.section--home__img {
    position: relative;
}

.section__div--home p {
    text-align: center;
    padding-bottom: 10px;
}

.div--home__h2--title {
    text-align: center;
    font-weight: bold;
}

.div--home__p--subtitle {
    // font-size: 0.6rem
}

@media screen and (min-width: 400px) {
    .section--home {
        min-height: 500px;
    }
}

@media screen and (min-width: 530px) {
    .section__div--home {
        width: 48%;
    }
}

@media screen and (min-width: 600px) {
    .section__div--home {
        width: 39%;
    }
    .section--home {
        margin-top: -69px;
    }
}

@media screen and (min-width: 768px) {
    .section__div--home {
        width: 33%;
    }
}

@media screen and (min-width: 850px) {
    .section__div--home {
        width: 27%;
    }
}

@media screen and (min-width: 980px) {
    .section--home {
        min-height: 480px;
    }
    .section__div--home {
        width: 26%;
    }
}

@media screen and (min-width: 1024px) {
    .section--home {
        min-height: 550px;
    }
    .section__div--home {
        width: 25%;
    }
}

@media screen and (min-width: 1200px) {
    .section--home {
        min-height: 650px;
    }
}

@media screen and (min-width: 1400px) {
    .section--home {
        min-height: 700px;
    }
}