//section 2
.section--products {
    padding: 10px;
}

.section-carousel {
    margin: 10px 0px;
}

.main__section--welcome {
    text-align: center;
    padding-bottom: 15px;
}

.section--product-line {}

.div--product-line-single {
    margin: 10px 0px;
}

.div__img--product-line-single {
    width: 100%;
    border-radius: 20px 0px 20px 20px;
}

.div__p--product-line-name {
    font-weight: bold;
    text-align: center;
}

.div__p--product-line-desc {
    text-align: justify;
}

.single-product {
    margin: 10px;
    text-align: right;
    background-color: #fafafa;
    border-radius: 20px 20px 0 20px;
    border: 1px solid #e0e0e0;
}

.single-product img {
    padding: 15px;
}

.single-product p {
    text-align: center;
    padding: 0 5px;
}

.single-product-name {
    height: 3em;
    font-weight: bold;
}

.single-product-price {
    margin-bottom: 10px;
}

.single-product a {
    background-color: #353535;
    color: white !important;
    padding: 3px 10px;
    border-radius: 15px 0 0 0;
    -webkit-box-shadow: -1px -1px 10px 0px #d3d3d3;
    -moz-box-shadow: -1px -1px 10px 0px #d3d3d3;
    box-shadow: -1px -1px 10px 0px #d3d3d3;
}

.div-link-allproducts {
    text-align: right;
    margin: 15px 0px;
}

.div-link-allproducts a {
    padding: 5px 15px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    background-color: #353535;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.div-link-allproducts a:hover {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

@media (min-width: 768px) {
    .div--product-line-single--reverse {
        flex-direction: row-reverse !important;
    }
    .div--product-line-single--reverse .col-5 img {
        border-radius: 0px 20px 20px 20px;
    }
}